<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Chat App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static.css" rel="stylesheet"/>
    </head>
    
    <body>
    	<div class="singleElem">
	    	<form method="POST" th:action="@{/login}" enctype="multipart/form-data">
		        <div class="card">
		        	<label>Username:</label> <input type="text" id="username" name="username"> <br>
		        	<label>Password:</label> <input type="password" id="password" name="password"> <br>
		        	<p th:text="${message}"></p>
		        	<br>
					<button type="submit" class="btn btn-primary">Submit!</button>
				</div>
	        </form>
	        </div>
        </div>
    </body>
    
    <script th:inline="javascript">
		/*[+
 			var message = [[${message}]];
		+]*/
		
		if (message == "success") {
			window.location.replace("/");
		}
	</script>
</html>