<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Hello World</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static.css" rel="stylesheet"/>
    </head>
    
    <body>
    	<div><h1 th:text="${'Hello! ' + test}"></h1></div>
    	
    	<div>
    		<a href="/signup">Sign Up</a>
    	</div>
    	
    	<div>
	    	<h3>Users</h3>
	       	<table>
	           <thead>
	           	<tr>
	                <th>ID</th>
	                <th>Name</th>
	                <th>Password</th>
	            </tr>
	           </thead>
	           
	           <tbody>
	            <tr th:each="user : ${users}">
	                <td th:text="${user.getId()}"></td>
	                <td th:text="${user.getUsername()}"></td>
	                <td th:text="${user.getPassword()}"></td>
	            </tr>
	           </tbody>
	        </table>
    	</div>
    </body>
</html>