@charset "ISO-8859-1";

body, html {
  	overflow:hidden;
  	
	background-color:#f0f0f0f0;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	
	width:100%;
	height:100%;
}

@media screen and (min-width: 720px) {
	
	.mainPage {
		padding:10px;
		display: grid;
		grid-template-columns: min-content auto;
		grid-template-rows: auto;
		
		grid-gap: 10px;
		padding: 10px;
		margin-right: 10px;
	}
	
	.leftElem {
		grid-row: 1;
		grid-column: 1;
	}
	
	.rightElem {
		grid-row: 1;
		grid-column: 2;
	}
	
	.friendFeed {
		overflow: auto;
		overflow-x: hidden;
		max-height: calc(100vh - 240px);
	}
	
	.messageFeed {
		overflow: auto;
		overflow-x: hidden;
		max-height: calc(100vh - 240px);
	}
}

@media screen and (max-width: 720px) {
	.mainPage {
		padding:5px;
		display: grid;
		grid-template-columns: calc(100vw - 10px);
		grid-template-rows: auto-fit auto-fit auto-fit;
		
		max-width: 100px;
	}

	.leftElem {
		grid-row: 1;
		grid-column: 1;
	}
	
	.rightElem {
		grid-row: 2;
		grid-column: 1;
	}
	
	.friendFeed {
		overflow: auto;
		overflow-x: hidden;
		max-height: calc(40vh - 290px);
	}
	
	.messageFeed {
		overflow: auto;
		overflow-x: hidden;
		max-height: calc(60vh - 220px);
		padding-bottom:1px;
	}
	
	textarea {
	  font-size: 16px;
	}
}

.singleElem {
	padding:10px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto-fit auto-fit auto-fit;
	
	grid-gap: 10px;
	padding: 10px;
	margin-right: 10px;
}

.twoElemGrid {
	display: grid;
	grid-template-columns: min-content auto;
	grid-template-rows: auto-fit;
	grid-gap: 5px;
}

.messageGrid {
	display: grid;
	grid-template-columns: auto min-content;
	grid-template-rows: auto-fit;
	
	grid-gap: 10px;
	margin-right: 10px;
}

.leftSideElem {
	grid-row: 1;
	grid-column: 1;
}

.rightSideElem {
	grid-row: 1;
	grid-column: 2;
}

.messagesL {
	display: grid;
	grid-template-columns: auto max-content;
	grid-template-rows: auto-fit;
	
	margin-top:5px;
}

.messagesR {
	display: grid;
	grid-template-columns: max-content auto;
	grid-template-rows: auto-fit;
	
	margin-top:5px;
}

.yourMessage {
	grid-row: 1;
	grid-column: 2;
	
	text-align:right;
	border:1px solid black;
	border-radius: 5px;
	padding: 5px;
	background-color:#bbb;
	
  	max-width: 80vw;
	overflow-wrap: break-word;
}

.thierMessage {
	grid-row: 1;
	grid-column: 1;
	
	text-align:left;
	border:1px solid black;
	border-radius: 5px;
	padding: 5px;
	background-color:#bbb;
	
  	max-width: 80vw;
	overflow-wrap: break-word;
}

.emptyMessageL {
	grid-row: 1;
	grid-column: 1;
	width:100%;
}
.emptyMessageR {
	grid-row: 1;
	grid-column: 2;
}

.topnav {
	display: flex;
  	background-color: #333;
  	overflow: hidden;
}

.topnav a:hover {
  	background-color: #bbb;
  	color: black;
}

.topnav h1 {
	padding: 5px;
}

.topnavElem {
	float: left;
	color: #f0f0f0f0;
	background-color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.card {
  	background-color: #fff;
	border: 1px solid;
	padding: 16px 16px;
	margin-bottom: 15px;
}

h1 {
	font-size: 36px;
	margin: 0px;
	margin-bottom: 5px;
}

h3 {
	font-size: 16px;
	margin: 0px;
	margin-bottom: 5px;
}

button {
	width:100%;
	background-color: #333;
	color: #f0f0f0f0;
	border: 1px solid black;
	font-size: 24px;
	text-align: center;
	padding: 10px;
	margin-bottom: 5px;
}

button:hover {
	background-color: #555;
	color: #f0f0f0f0;
}