@charset "ISO-8859-1";

body {
	background-color:#f0f0f0f0;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

@media screen and (min-width: 720px) {
	.mainPage {
		padding:10px;
		display: grid;
		grid-template-columns: auto-fit auto-fit;
		grid-template-rows: auto-fit auto-fit auto-fit;
		
		grid-gap: 10px;
		padding: 10px;
		margin-right: 10px;
	}
	
	.leftElem {
		grid-row: 2;
		grid-column: 1;
	}
	
	.rightElem {
		grid-row: 2;
		grid-column: 2/12;
	}
}

@media screen and (max-width: 720px) {
	.mainPage {
		padding:10px;
		display: grid;
		grid-template-columns: auto-fit auto-fit;
		grid-template-rows: auto-fit auto-fit auto-fit;
		
		grid-gap: 10px;
		padding: 10px;
		margin-right: 10px;
	}

	.leftElem {
		grid-row: 2;
		grid-column: 1;
	}
	
	.rightElem {
		grid-row: 3;
		grid-column: 1;
	}
}

.singleElem {
	padding:10px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto-fit auto-fit auto-fit;
	
	grid-gap: 10px;
	padding: 10px;
	margin-right: 10px;
}


.topnav {
	display: flex;
  	background-color: #333;
  	overflow: hidden;
}

.topnav a:hover {
  	background-color: #bbb;
  	color: black;
}

.topnav h1 {
	padding: 5px;
}

.topnavElem {
	float: left;
	color: #f0f0f0f0;
	background-color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.card {
  	background-color: #fff;
	border: 1px solid;
	padding: 16px 16px;
	margin-bottom: 15px;
}

h1 {
	font-size: 36px;
	margin: 0px;
	margin-bottom: 5px;
}

h3 {
	font-size: 16px;
	margin: 0px;
	margin-bottom: 5px;
}

button {
	width:100%;
	background-color: #333;
	color: #f0f0f0f0;
	border: 1px solid black;
	font-size: 24px;
	text-align: center;
	padding: 10px;
	margin-bottom: 5px;
}

button:hover {
	background-color: #555;
	color: #f0f0f0f0;
}

button.selected {
  	background-color: #bbb;
  	color: black;
}